@tailwind base;
@tailwind components;
@tailwind utilities;

.myoverflow {
  height: calc(100vh - 171px);
}

::-webkit-input-placeholder {
  color: red;
  text-align: left;
}

/* ------ Custom Scroll bar -------- */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292524;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #57534e;
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #57534e;
}

/* --------------------------------- */
